@media (min-width: 1241px) {
    .noticecard_layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 17vw;
        height: auto;

        background-color: #242424;
        border: 1px solid #2a2a2a;
        border-radius: 15px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    }

    .noticecard_title {
        width: 80%;
        margin: 0 0 0 0;
        padding: 20px 0;

        font-size: min(15px, 1.2vw);
        text-align: left;
    }

    .noticecard_image {
        width: 80%;
        margin: 0 0;

        border: 1px solid #2a2a2a;
        border-radius: 8px;

        object-fit: cover;

        cursor: pointer;
    }

    .noticecard_content {
        display: flex;

        width: 80%;
        min-height: 100px;
        margin: 0 0;

        font-size: min(11px, 0.8vw);
        white-space: pre-line;
        text-align: left; 

        background-color: #2e2e2e;
        border: 1px solid #2a2a2a;
        border-radius: 8px;

        padding: 12px;
        box-sizing: border-box;

        cursor: pointer;
    }

    .noticecard_info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 80%;
        padding: 15px 0;
    }

    .noticecard_profile {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 10px;

        width: 80%;
    }

    .noticecard_profile_img {
        width: 2vw;
        height: 2vw;

        border-radius: 50%;

        object-fit: cover;
    }

    .noticecard_text {
        font-size: min(11px, 0.8vw);
    }

    .noticecard_name {
        display: flex;
        align-items: flex-end;

        margin: 0;
    }

    .noticecard_date {
        display: flex;
        align-items: flex-end;

        margin: 0;
    }

    .noticecard_icon {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: max(15px, 1.3vw);
    }

    .custom-dropdown-menu {
        background-color: #2e2e2e !important;
        border: 1px solid #d9d9d9;
        padding: 4px 0;
        border-radius: 10px;
    }

    .custom-dropdown-item {
        color: #ffffff !important;
        font-weight: 500;
        padding: 8px 20px;
        transition: all 0.2s ease;
        font-size: max(10px, 0.8vw) !important;
    }

    .custom-dropdown-item:hover {
        background-color: #585858 !important;
        color: #78D900 !important;
    }

    .subscribecard_layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 13vw;
        height: auto;

        background-color: #242424;
        border: 1px solid #2a2a2a;
        border-radius: 15px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    }

    .subscribecard_title {
        width: 80%;
        margin: 0 0 0 0;
        padding: 20px 0;

        font-size: min(14px, 1.2vw);
        text-align: left;
    }

    .subscribecard_image {
        width: 80%;
        margin: 0 0;

        border: 1px solid #2a2a2a;
        border-radius: 8px;

        object-fit: cover;

        cursor: pointer;
    }

    .subscribecard_content {
        display: flex;

        width: 80%;
        min-height: 100px;
        margin: 0 0;

        font-size: min(10px, 0.8vw);
        white-space: pre-line;
        text-align: left; 

        background-color: #2e2e2e;
        border: 1px solid #2a2a2a;
        border-radius: 8px;

        padding: 12px;
        box-sizing: border-box;

        cursor: pointer;
    }

    .subscribecard_info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 80%;
        padding: 15px 0;
    }

    .subscribecard_profile {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 10px;

        width: 80%;
    }

    .subscribecard_profile_img {
        width: 2vw;
        height: 2vw;

        border-radius: 50%;

        object-fit: cover;
    }

    .subscribecard_text {
        font-size: min(11px, 0.8vw);
    }

    .subscribecard_name {
        display: flex;
        align-items: flex-end;

        margin: 0;
    }

    .subscribecard_date {
        display: flex;
        align-items: flex-end;

        margin: 0;
    }


}
@media (min-width: 769px) and (max-width: 1240px) {
    .noticecard_layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 19vw;
        height: auto;

        background-color: #242424;
        border: 1px solid #2a2a2a;
        border-radius: 15px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    }

    .noticecard_title {
        width: 80%;
        margin: 0 0 0 0;
        padding: 20px 0;

        font-size: min(18px, 1.3vw);
        text-align: left;
    }

    .noticecard_image {
        width: 80%;
        margin: 0 0;

        border: 1px solid #2a2a2a;
        border-radius: 8px;

        object-fit: cover;

        cursor: pointer;
    }

    .noticecard_content {
        display: flex;

        width: 80%;
        min-height: 100px;
        margin: 0 0;

        font-size: min(11px, 0.8vw);
        white-space: pre-line;
        text-align: left; 

        background-color: #2e2e2e;
        border: 1px solid #2a2a2a;
        border-radius: 8px;

        padding: 12px;
        box-sizing: border-box;

        cursor: pointer;
    }

    .noticecard_info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 80%;
        padding: 10px 0;
    }

    .noticecard_profile {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 1vw;

        width: 80%;
    }

    .noticecard_profile_img {
        width: 3vw;
        height: 3vw;

        border-radius: 50%;

        object-fit: cover;
    }

    .noticecard_text {
        font-size: min(13px, 1vw);
    }

    .noticecard_name {
        display: flex;
        align-items: flex-end;

        margin: 0;
    }

    .noticecard_date {
        display: flex;
        align-items: flex-end;

        margin: 0;
    }

    .noticecard_icon {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: max(15px, 1.3vw);
    }

    .custom-dropdown-menu {
        background-color: #2e2e2e !important;
        border: 1px solid #d9d9d9;
        padding: 4px 0;
        border-radius: 10px;
    }

    .custom-dropdown-item {
        color: #ffffff !important;
        font-weight: 500;
        padding: 8px 20px;
        transition: all 0.2s ease;
        font-size: max(10px, 1vw) !important;
    }

    .custom-dropdown-item:hover {
        background-color: #585858 !important;
        color: #78D900 !important;
    }

     .subscribecard_layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 21.5vw;
        height: auto;

        background-color: #242424;
        border: 1px solid #2a2a2a;
        border-radius: 15px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    }

    .subscribecard_title {
        width: 80%;
        margin: 0 0 0 0;
        padding: 20px 0;

        font-size: min(14px, 1.5vw);
        text-align: left;
    }

    .subscribecard_image {
        width: 80%;
        margin: 0 0;

        border: 1px solid #2a2a2a;
        border-radius: 8px;

        object-fit: cover;

        cursor: pointer;
    }

    .subscribecard_content {
        display: flex;

        width: 80%;
        min-height: 100px;
        margin: 0 0;

        font-size: min(10px, 1vw);
        white-space: pre-line;
        text-align: left; 

        background-color: #2e2e2e;
        border: 1px solid #2a2a2a;
        border-radius: 8px;

        padding: 12px;
        box-sizing: border-box;

        cursor: pointer;
    }

    .subscribecard_info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 80%;
        padding: 15px 0;
    }

    .subscribecard_profile {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 1vw;

        width: 80%;
    }

    .subscribecard_profile_img {
        width: 3vw;
        height: 3vw;

        border-radius: 50%;

        object-fit: cover;
    }

    .subscribecard_text {
        font-size: min(11px, 1.1vw);
    }

    .subscribecard_name {
        display: flex;
        align-items: flex-end;

        margin: 0;
    }

    .subscribecard_date {
        display: flex;
        align-items: flex-end;

        margin: 0;
    }
}
@media (min-width: 1px) and (max-width: 768px) {
    .noticecard_layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 38vw;
        height: auto;

        background-color: #242424;
        border: 1px solid #2a2a2a;
        border-radius: 15px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    }

    .noticecard_title {
        width: 80%;
        margin: 0 0 0 0;
        padding: 20px 0;

        font-size: min(18px, 2vw);
        text-align: left;
    }

    .noticecard_image {
        width: 80%;
        margin: 0 0;

        border: 1px solid #2a2a2a;
        border-radius: 8px;

        object-fit: cover;

        cursor: pointer;
    }

    .noticecard_content {
        display: flex;

        width: 80%;
        min-height: 100px;
        margin: 0 0;

        font-size: min(12px, 1.7vw);
        white-space: pre-line;
        text-align: left; 

        background-color: #2e2e2e;
        border: 1px solid #2a2a2a;
        border-radius: 8px;

        padding: 12px;
        box-sizing: border-box;

        cursor: pointer;
    }

    .noticecard_info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 80%;
        padding: 1.7vw 0;
    }

    .noticecard_profile {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 1vw;

        width: 80%;
    }

    .noticecard_profile_img {
        width: 4.5vw;
        height: 4.5vw;

        border-radius: 50%;

        object-fit: cover;
    }

    .noticecard_text {
        font-size: min(13px, 1.7vw);
    }

    .noticecard_name {
        display: flex;
        align-items: flex-end;

        margin: 0;
    }

    .noticecard_date {
        display: flex;
        align-items: flex-end;

        margin: 0;
    }

    .noticecard_icon {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: max(17px, 1.5vw);
    }

    .custom-dropdown-menu {
        background-color: #2e2e2e !important;
        border: 1px solid #d9d9d9;
        padding: 4px 0;
        border-radius: 10px;
    }

    .custom-dropdown-item {
        color: #ffffff !important;
        font-weight: 500;
        padding: 8px 20px;
        transition: all 0.2s ease;
        font-size: max(9px, 1.2vw) !important;
    }

    .custom-dropdown-item:hover {
        background-color: #585858 !important;
        color: #78D900 !important;
    }

         .subscribecard_layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 23vw;
        height: auto;

        background-color: #242424;
        border: 1px solid #2a2a2a;
        border-radius: 15px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    }

    .subscribecard_title {
        width: 80%;
        margin: 0 0 0 0;
        padding: 20px 0;

        font-size: min(17px, 1.8vw);
        text-align: left;
    }

    .subscribecard_image {
        width: 80%;
        margin: 0 0;

        border: 1px solid #2a2a2a;
        border-radius: 8px;

        object-fit: cover;

        cursor: pointer;
    }

    .subscribecard_content {
        display: flex;

        width: 80%;
        min-height: 100px;
        margin: 0 0;

        font-size: min(13px, 1.5vw);
        white-space: pre-line;
        text-align: left; 

        background-color: #2e2e2e;
        border: 1px solid #2a2a2a;
        border-radius: 8px;

        padding: 12px;
        box-sizing: border-box;

        cursor: pointer;
    }

    .subscribecard_info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 80%;
        padding: 15px 0;
    }

    .subscribecard_profile {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 1vw;

        width: 80%;
    }

    .subscribecard_profile_img {
        width: 4vw;
        height: 4vw;

        border-radius: 50%;

        object-fit: cover;
    }

    .subscribecard_text {
        font-size: min(15px, 1.5vw);
    }

    .subscribecard_name {
        display: flex;
        align-items: flex-end;

        margin: 0;
    }

    .subscribecard_date {
        display: flex;
        align-items: flex-end;

        margin: 0;
    }
}