.layout_loading {
  width: 100vw;
  height: 100vh;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.global_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.15);
  z-index: 2000; 
  pointer-events: all;
}

@media (min-width: 1241px) {
  .layout_background{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;

    width: 100%;
    min-height: 100vh;

    background-color: #060F0E;
  }

  .layout_body{
    display: flex;
    gap: 40px;
    align-items: flex-start;
    width: 80%;
  }

  .header_layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 20px 0 40px 0;

    background-color: #1b1b1b;
    
  }

  .header_logo {
    color: #78D900;
    font-size: 40px;
    text-decoration: none;

    cursor: pointer;
  }

  .header_side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;

    width: 100%;
    min-width: 0;
    margin-top: -1.5vw;
    margin-right: 20vw;
    margin-bottom: 6vw;
  }

  .header_side_nav {
    color: #ffffff;
    font-size: min(15px, 1vw);
    text-decoration: none;
  }

  .header_side_bell {
    color: #ffffff;
    font-size: min(18px, 2vw);
    text-decoration: none;
  }

  .header_side_logout {
    color: #ffffff;
    font-size: min(20px, 2vw);
    text-decoration: none;
  }

  .header_side_nav:hover,
  .header_side_bell:hover,
  .header_side_logout:hover {
    color: #78D900;
  }

  .header_side .ant-badge-count {
    min-width: 14px;   /* 원 크기 (가로) */
    height: 14px;      /* 원 크기 (세로) */
    line-height: 14px; /* 숫자 세로 정렬 */
    font-size: 10px;   /* 숫자 크기 */
    border-radius: 7px; /* 반지름 = height/2 (동그라미 유지) */
    padding: 0;        /* 여백 없애기 */
  }

  .header_menu {
    display: flex;
    justify-content: center;
    gap: 8vw;
  }

  .header_menu_nav {
    color: #ffffff;
    font-size: min(20px, 1.3vw);
    text-decoration: none;
  }

  .header_menu_nav:hover {
    color: #78D900;
  }

  .main_layout {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vw;
    color: #ffffff;
  }

  .main_row {
    display: flex;
    gap: 2vw;
  }

  .main_box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 200px;
    background-color: #242424;
    border-radius: 15px;
    padding: 20px 30px;
    text-align: left;
    text-decoration: none;

    cursor: pointer;
  }

    .main_box h3 {
        margin: 0;
        font-size: 1.5vw;
        color: #78D900;
    }

    .main_box p {
        margin: 0;
        font-size: 0.8vw;
        color: #ccc;
    }

    .main_box:hover {
        background-color: #3a3a3a;
    }

  .side_layout {
    flex: 0.25;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

    width: 100%;
    padding: 50px 0;

    background-color: #1b1b1b;
    border-radius: 20px;
  }

  .side_profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
    padding: 0 15px;
  }

  .side_profile_img {
    width: 10vw; 
    height: 10vw;

    border-radius: 50%;

    object-fit: cover;  
  }

  .side_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .side_info_text {
    color: #ffffff;
    font-size: min(18px, 1.3vw);
  }

  .side_separator {
    width: 80%;        
    height: 1px;
    margin: 0;        

    background-color: #ffffff;
    opacity: 0.5;      
  }

  .side_menu {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .side_menu_text {
    color: #ffffff;
    font-size: min(20px, 1.3vw);
    text-decoration: none;
  }

  .side_menu_text:hover {
    color: #78D900;
  }

  .side_menu_text.active {
    color: #78D900;
  }

  .footer_layout {
    display: flex;
  
    width: 100%;
    margin-top: 20px;
    padding: 30px 0;
  
    background-color: #1b1b1b;
  
    line-height: 2;
    text-align: start;
  }
  
  .footer_block {
    flex: 1;
    padding-left: 7vw;
  
    color: #ffffff;
    font-size: 15px;
  }
  
  .footer_icon {
    width: 1.3vw; 
    height: 1.1vw; 
    margin-Right: 5px;
  }
  
  .footer_vertical {
    flex: 0.1;

    border-right: solid 1px #78D900;
    opacity: 0.5;
  }
}
@media (min-width: 769px) and (max-width: 1240px) {
  .layout_background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8vw;

    width: 100%;
    min-height: 100vh;
    height: auto;

    background-color: #060F0E;
  }

  .layout_body{
    flex: 4;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    width: 90%;
  } 

   .header_layout {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 20px 0 40px 0;

    background-color: #1b1b1b;
    
  }

  .header_logo {
    color: #78D900;
    font-size: 4vw;
    text-decoration: none;
    cursor: pointer;
  }

  .header_side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;

    width: 100%;
    margin-top: -2vw;
    margin-right: 10vw;
    margin-bottom: 7.5vw;
  }

  .header_side_nav {
    color: #ffffff;
    font-size: min(13px, 1.5vw);
    text-decoration: none;
  }

  .header_side_bell {
    color: #ffffff;
    font-size: min(18px, 2vw);
    text-decoration: none;
  }

  .header_side_logout {
    color: #ffffff;
    font-size: min(22px, 2.2vw);
    text-decoration: none;
  }

  .header_side_nav:hover,
  .header_side_bell:hover,
  .header_side_logout:hover {
    color: #78D900;
  }

  .header_side .ant-badge-count {
    min-width: 14px;   /* 원 크기 (가로) */
    height: 14px;      /* 원 크기 (세로) */
    line-height: 14px; /* 숫자 세로 정렬 */
    font-size: 10px;   /* 숫자 크기 */
    border-radius: 7px; /* 반지름 = height/2 (동그라미 유지) */
    padding: 0;        /* 여백 없애기 */
  }

  .header_menu {
    display: flex;
    justify-content: center;
    gap: 8vw;
  }

  .header_menu_nav {
    color: #ffffff;
    font-size: min(20px, 1.5vw);
    text-decoration: none;
  }

  .header_menu_nav:hover {
    color: #78D900;
  }

  .main_layout {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vw;
    color: #ffffff;
  }

  .main_row {
    display: flex;
    gap: 2vw;
  }

  .main_box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 200px;
    background-color: #242424;
    border-radius: 15px;
    padding: 20px 30px;
    text-align: left;
    text-decoration: none;

    cursor: pointer;
  }

    .main_box h3 {
        margin: 0;
        font-size: 1.5vw;
        color: #78D900;
    }

    .main_box p {
        margin: 0;
        font-size: 1.2vw;
        color: #ccc;
    }

    .main_box:hover {
        background-color: #3a3a3a;
    }

  .side_layout {
    flex: 0.25;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

    width: 100%;
    padding: 50px 0;

    background-color: #1b1b1b;
    border-radius: 20px;
  }

  .side_profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
    padding: 0 15px;
  }

  .side_profile_img {
    width: 10vw; 
    height: 10vw;

    border-radius: 50%;

    object-fit: cover;  
  }

  .side_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .side_info_text {
    color: #ffffff;
    font-size: min(18px, 1.3vw);
  }

  .side_separator {
    width: 80%;        
    height: 1px;
    margin: 0;        

    background-color: #ffffff;
    opacity: 0.5;      
  }

  .side_menu {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .side_menu_text {
    color: #ffffff;
    font-size: min(20px, 1.3vw);
    text-decoration: none;
  }

  .side_menu_text:hover {
    color: #78D900;
  }

  .side_menu_text.active {
    color: #78D900;
  }

  .footer_layout {
    flex: 1;
    display: flex;
  
    width: 100%;
    margin-top: 20px;
    padding: 30px 0;
  
    background-color: #1b1b1b;
  
    line-height: 2;
    text-align: start;
  }
  
  .footer_block {
    flex: 1;
    padding-left: 7vw;
  
    color: #ffffff;
    font-size: min(20px, 1.3vw);
  }
  
  .footer_icon {
    width: 15px; 
    height: 15px; 
    margin-Right: 5px;
  }
  
  .footer_vertical {
    flex: 0.1;
    
    border-right: solid 1px #78D900;
    opacity: 0.5;
  }
}
@media (min-width: 1px) and (max-width: 768px) {
  .layout_background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    width: 100%;
    min-height: 100vh; 
    height: auto;   

    background-color: #060F0E;
  }

  .layout_body{
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;

  }

   .header_layout {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 10px 0 20px 0;

    background-color: #1b1b1b;
    
  }

  .header_logo {
    color: #78D900;
    font-size: 5.5vw;
    text-decoration: none;
    cursor: pointer;
  }

  .header_side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4vw;

    width: 100%;
    margin-top: -3.5vw;
    margin-right: 10vw;
    margin-bottom: 8vw;
  }

  .header_side_nav {
    color: #ffffff;
    font-size: max(8px, 1.5vw);
    text-decoration: none;
  }

  .header_side_bell {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: max(11px, 2vw);
    text-decoration: none;
  }

  .header_side_logout {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: max(13px, 2.5vw);
    text-decoration: none;
  }

  .header_side_nav:hover,
  .header_side_bell:hover,
  .header_side_logout:hover {
    color: #78D900;
  }

  .header_side .ant-badge-count {
    min-width: 11px;   /* 원 크기 (가로) */
    height: 11px;      /* 원 크기 (세로) */
    line-height: 10px; /* 숫자 세로 정렬 */
    font-size: 10px;   /* 숫자 크기 */
    border-radius: 6px; /* 반지름 = height/2 (동그라미 유지) */
    padding: 0;        /* 여백 없애기 */
  }


  .header_menu {
    display: flex;
    justify-content: center;
    gap: 8vw;
  }

  .header_menu_nav {
    color: #ffffff;
    font-size: max(9px, 1.7vw);
    text-decoration: none;
  }

  .header_menu_nav:hover {
    color: #78D900;
  }

  .main_layout {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vw;
    color: #ffffff;
  }

  .main_row {
    display: flex;
    gap: 2vw;
  }

  .main_box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 200px;
    background-color: #242424;
    border-radius: 15px;
    padding: 20px 20px;
    text-align: left;
    text-decoration: none;

    cursor: pointer;
  }

    .main_box h3 {
        margin: 0;
        font-size: max(12px, 2.3vw);
        color: #78D900;
    }

    .main_box p {
        margin: 0;
        font-size: max(8.5px, 1.8vw);
        color: #ccc;
    }

    .main_box:hover {
        background-color: #3a3a3a;
    }
    
  .side_layout {
    width: 100%;

    border-radius: 20px;
  }

  .side_menu {
    display: flex;
    gap: 1.5vw;
  }

  .side_menu_text {
    color: #ffffff;
    font-size: max(9px, 1.8vw);
    text-decoration: none;

    background-color: #1b1b1b;
    border-radius: 1.2vw;

    padding: 8px 18px;       
    text-align: center;       
  }

  .side_menu_text:hover {
    color: #78D900;
  }

  .side_menu_text.active {
    color: #78D900;
  }

  .footer_layout {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 1px;
  
    width: 100%;
    margin-top: 20px;
    padding: 25px 0;
  
    background-color: #1b1b1b;
  
    line-height: 2;
    text-align: start;
  }
  
  .footer_block {
    flex: 1;
    padding: 0 4vw;
    margin-left: 10px;
  
    color: #ffffff;
    font-size: max(8px, 1.7vw);
  }
  
  .footer_icon {
    width: 15px; 
    height: 15px; 
    margin-Right: 5px;
  }
}